.vertical-content:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 1px;
}
.categories {
  margin: 40px 0;
}
.thumbnail {
  position: relative;
  padding: 0;
}
.thumbnail .title {
  position: absolute;
  top: 20px;
  z-index: 20;
  color: #fff;
  width: 100%;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}
.thumbnail h2 {
  margin: 0;
  text-align: center;
}
.thumbnail img {
  border-radius: 3px;
}
.thumbnail .caption {
  position: absolute;
  display: block;
  padding: 0;
  bottom: 20px;
  z-index: 10;
  width: 100%;
  height: 50px;
  text-align: center;
}
